<h2> <strong> <%= @article.title %> <strong> </h2>

<div class="row">
  <div class="col-xs-8">
    <h4> <strong> Description </strong> </h4>
    <hr>
    <%= simple_format(@article.desc) %>
    <hr>
    
    <%= link_to 'Edit this aticle', edit_article_path(@article), class:'btn btn-xs btn-primary' %>
    <%= link_to 'Delete this article', article_path(@article), method: :delete, class:'btn btn-xs btn-danger', data: {confirm:"Sure ?"} %>
  </div>
</div>