<!DOCTYPE html>

<html>
<body style="font-family:verdana">

<h1> About Us </h1>
<hr>

<ul style="list-style-type:square">
  <li> NM  </li>
  <li> KP </li>
</ul>

<hr>
<%= link_to 'Home', root_path %>
<hr>
<h3 style="text-align:center; font-size:80%"> <sup>@</sup>Copryight <h3>

</body>
</html>