<!DOCTYPE html>

<html>
<body style="font-family:verdana">

<h1> Home page </h1>
<hr>

<%= link_to 'Alphs blog', articles_path %> | <%= link_to 'About', about_path %>


<hr>
<h3 style="text-align:center; font-size:80%"> <sup>@</sup>Copryight <h3>


</body>
</html>